
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



nav{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    
}
.nav-text{
    font-size:45px;
    font-weight: 800;
}
.text-color{
    color:#FD6E0A;
}

ul{
    display :flex;
    list-style: none;
    
    gap: 50px;
}
a{
    text-decoration: none;
}
